<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zane's Website</title>
    <!-- CSS for styling the page -->
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <ul id="nav_bar">
        <li id="home_nav"><a href="http://localhost:3000/">Home</a></li>
        <li id="skills_nav"><a href="http://localhost:3000/skills">Skills</a></li>
        <li id="about_me_nav"><a href="http://localhost:3000/about_me">About Me</a></li>
        <li id="hobbies_nav"><a href="http://localhost:3000/hobbies">Hobbies</a></li>
    </ul>
</body>
</html>