@page
@model PrivacyModel
@{
    ViewData["Title"] = "Hobbies";
}
<h1>@ViewData["Title"]</h1>

<p>Hobbies</p>
<ul>
    <li>Gaming
        <ul>
            <li>Schedule I</li>
            <li></li>
        </ul>
        </li>
    <li>Surfing</li>
    <li>Drone Photography</li>
    <li>Shows</li>
</ul>
