@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>My name is Zane Slocum, welcome to my resume site! Here I showcase my development
        skills as well as my personality :). I will continue working on and improving the website with more improvements and ideas as time goes on.</p>
</div>
