@page
@model PrivacyModel
@{
    ViewData["Title"] = "Skills";
}
<h1>@ViewData["Title"]</h1>

<p>My skills include but are not limited to:</p>
<p>Languages</p>
<ul>
    <li>C#</li>
    <li>ASP .NET</li>
    <li>Java</li>
    <li>Kotlin</li>
    <li>JavaScript</li>
    <li>Ruby</li>
    <li>Python</li>
</ul>
<p>Databases</p>
<ul>
    <li>SQL</li>
    <li>noSQL</li>
    <li>MongoDB</li>
</ul>
<p>Technologies</p>
<ul>
    <li>Git</li>
    <li>GitHub</li>
    <li>Azure DevOps</li>
    <li>Vue.js</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Agile Methodologies</li>
    <li>JSON</li>
    <li>Ruby on Rails</li>
    <li>JQuery</li>
    <li>Postman</li>
    <li>Unit Testing</li>
    <li>RESTful APIs</li>
    <li>Docker</li>
    <li>Node.js</li>
    <li>NPM</li>
    <li>JQuery</li>
</ul>
